body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }

h1 {
    font-weight: 250;
    font-size: 3rem;
    text-align: center;
    margin: .5em auto;
}

.map-border {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
  
.world-map {
    margin: auto;
    padding-bottom: .8em;
    margin-top: 1em;
    width: 90%;
}

.land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;

    transition: fill .4s ease-out;
}

.land:hover {
    fill: #6f6f6f;
    fill-opacity: 1;
}