@font-face {
    font-family: 'kg_red_handsregular';
    src: url('../fonts/kgredhands.woff2') format('woff2'),
         url('../fonts/kgredhands.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}